body {
    margin: 0;
}

/**** Wrapper - overordnet ****/

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: green;
}

/**** Header - header med nav, menu buttons og logo ****/

header {
    background-color: red;
    grid-column: 1/3;
}

/**** Main section - Container for menu, med retter ****/

main {
    margin: 0 auto;
    max-width: 1280px;
    width: 90vw;
    grid-column: 1/3;
    background-color: blue;
}

#menu-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
}

article.ret {
    position: relative;
    background-color: yellow;
    height: 300px;
}

.ret-overlay {
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
    height: 100%;
    width: 100%;
}

article.ret img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/**** Footer, adresse og åbningstider ****/

footer {
    background-color: red;
    grid-column: 1/3;
}


/**** Popup boks,  med layout for de enkelte retter ****/


#popup {
    display: none;
}

/**** Media querys - forskellige skærmstørrelser ****/

@media screen and (min-width: 500px) {
    #menu-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    #menu-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
