body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

* {
/*    transition: .2s all ease;*/
    margin: 0;
    padding: 0;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/**** Wrapper - overordnet ****/

.wrapper {
    background-color: white;
    margin-bottom: 400px;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/**** Slider ****/

.slider {
    grid-column: 1/3;
    height: 60vw;
    background-color: #2655ba;
}

header h1 {
    text-align: center;
    text-transform: lowercase;
    font-size: 10vw;
    color: red;
    font-weight: 900;
    margin: 50px;
}

/**** Header - header med nav, menu buttons og logo ****/

header {
    grid-column: 1/3;
/*    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.01);*/
}

header nav {
    width: 90vw;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
}

header nav button {
    padding: 10px;
    font-size: 1em;
    border: 0;
    background-color: white;
}

header nav button:focus {
    outline: 0;
    background-color: #ccc;
}

header nav button:hover {
    outline: 0;
    background-color: #ccc;
}


/**** Main section - Container for menu, med retter ****/

main {
    margin: 50px auto 100px auto;
    max-width: 1400px;
    width: 90vw;
    grid-column: 1/3;
}

h2#overskrift {
    display: none;
}

select {
    display: none;
}

#menu-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
}

article.ret {
    position: relative;
    height: 300px;
    overflow: hidden;
}

article.ret:hover {
    cursor: pointer;

}

article.ret:hover > .ret-white {
    top: 150px;
    color: #1d1d1d;
    background-color: rgba(255, 255, 255, 0.85);
}

article.ret:hover > .ret-overlay {}

article.ret:hover > .billede {
    transform: scale(1.1);
}

article.ret .ret-overlay {
    position: absolute;
    z-index: 10;
    background-color: rgba(232, 232, 232, 0.1);
    height: 100%;
    width: 100%;
    transition: 0.5s all ease;
}

article.ret .ret-white {
    position: absolute;
    z-index: 10;
    left: 4%;
    top: 250px;
    width: 92%;
    color: white;
    transition: 0.7s all ease;
}

article.ret .ret-titel {
    padding: 10px;
    font-size: 1.2em;
}

article.ret .kort_beskrivelse {
    padding: 10px;
    font-size: 1em;
}

article.ret .priss {
    padding: 10px;
    font-size: 1em;
}

article.ret .billede {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 0.5s all ease;
}

/**** Footer, adresse og åbningstider ****/

footer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    background-color: #262626;
    height: 400px;
    width: 100vw;
    color: #eee;
    grid-column: 1/3;
}


/**** Popup boks,  med layout for de enkelte retter ****/

.titel2 {
    position: absolute;
    top: 10%;
    z-index: 21;
    color: transparent;
    -webkit-text-stroke: 2px #1a47a8;
    font-size: 8em;
    text-transform: uppercase;
    right: -20%;
    transform: rotate(15deg) scaleX(-1);
    letter-spacing: 2px;
}

#popup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all ease;
}

#popup-overlay {
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.97);
}

#popup-overlay:hover {
    cursor: pointer;
}

#popup-content {
    position: absolute;
    z-index: 22;
    left: 10vw;
    top: 25vh;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.left {
    grid-column: 1/3;
    z-index: 1;
}

.right {
    margin-top: 50%;
    margin-left: -20px;
    z-index: 2;
    height: 50%;
    color: #2552b2;
    padding: 10px;
}

#popup img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.closeModal {
    font-size: 4em;
    position: absolute;
    background-color: transparent;
    color: #1a47a8;
    text-transform: lowercase;
    top: -40%;
    right: 0;
    border: 0;
}

/**** Media querys - forskellige skærmstørrelser ****/

@media screen and (min-width: 600px) {
    #menu-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1000px) {
    #menu-container {
        grid-template-columns: repeat(3, 1fr);
    }
}




/**** Burger menu ****/

/* .burger {
    cursor: pointer;
    background: #eee;
    border: none;
    justify-self: end;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
}

nav.show {
    min-height: 500px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
*/
